#svg, #svg1, #svg2 {
    position: relative;
    left: 0;
    top: 0;
    width: 60px;
}
#vb {
    border: 2px solid blue;
    height: 400px;
    padding: 0;
    width: 700px;
}

#image0 circle {
    
    stroke-width: 0;
}

div p {
    width: 700px;
}